/* Basic reset for padding and margin */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically in the viewport */
    height: 100vh; /* Full viewport height to center everything within the view */
    background-color: #f4f4f4; /* Light background color */
    font-family: 'Arial', sans-serif; /* Consistent font for all text */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

.logo, .password-confirmation-container {
    margin: 10px 0; /* Adds space around the logo and the form container */
}

.logo img {
    width: 150px; /* Adjusts the size of the logo */
}

.password-confirmation-container {
    width: 100%; /* Sets the width of the form container */
    max-width: 400px; /* Ensures the form doesn't get too wide on larger screens */
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Adds subtle shadow for depth */
}

/* Styles for the form and its elements */
form {
    display: flex;
    flex-direction: column;
}

input[type="password"], button {
    height: 40px;
    margin: 5px 0; /* Adds vertical space between form elements */
    padding: 0 10px;
}

button {
    background-color: #5c67f2;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5058cc;
}
