body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Centers items horizontally */
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    margin: 10px 0; /* Adds space around the logo and the form container */
}

.logo img {
    width: 150px; /* Adjusts the size of the logo */
}


form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5058cc;
}
