/* main.css */

/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    padding-top: 20px;
    color: white;
    background-image: url('/images/main.jpg'); /* 배경 이미지 설정 */
    background-size: cover; /* 배경 이미지가 화면에 꽉 차도록 설정 */
    background-position: center; /* 배경 이미지를 가운데 정렬 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-attachment: fixed; /* 배경 이미지 고정 */
    
}

.container {
    max-width: 935px; /* 인스타그램의 최대 너비 */
    margin: 0 auto;
}


.container h1 {
    margin-left: 10px;
    margin-right: 10px;
}

.write{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    color: white;
    text-decoration: none;
}

/* 카드 스타일 */
.post-card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: calc(25% - 20px); /* 4열로 표시 */
    margin: 0 10px 20px;
    height: 500px; /* 카드의 최소 높이 설정 */
    float: left;
    overflow: hidden; /* 이미지가 넘치지 않도록 설정 */
    color: white;
    backdrop-filter: blur(5px); /* 배경을 흐리게 만들기 */
}

.post-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
}

.card-img-top {
    width: 100%; /* 이미지의 너비를 카드의 너비에 맞춤 */
    height: 200px; /* 이미지 높이 고정 */
    object-fit: cover; /* 이미지 비율 유지하면서 요소에 맞춤 */
    border-top-left-radius: 8px; /* 이미지 상단 모서리 둥글게 */
    border-top-right-radius: 8px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 5px;
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 텍스트가 넘칠 경우 말줄임표로 표시 */
}

.card-text a{
    text-decoration: none;
    color: white;
}

/* 모바일에서는 1열로 표시 */
@media (max-width: 767px) {
    .post-card {
        width: calc(100% - 20px); /* 1열로 표시 */
        margin: 10px 10px; /* 모바일에서의 간격 */
    }
}

/* Clearfix 스타일 추가 */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    list-style: none; /* 기본 목록 스타일 제거 */
    padding: 0;
    margin-top: 50px; /* 상단 간격 조정 */
}

.page-item {
    margin: 0 5px; /* 아이템 간 간격 */
}

.page-link {
    color: #ffffff; /* 인스타그램의 특징적인 파란색 */
    background-color: transparent;
    border: none; /* 테두리 제거 */
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}

.page-item.active .page-link {
    font-weight: bold; /* 현재 페이지 강조 */
    color: #ffae00; /* 강조 텍스트 색상 */
}

.page-link:hover {
    text-decoration: underline; /* 호버 효과 추가 */
    background-color: transparent;
}

