<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/confirm-password.css">
    <title>Confirm Password</title>
    <script>
        window.onload = function() {
            document.getElementById('password').focus();
        };
    </script>
</head>
<body>

    <div class="logo">
        <a href="/">
            <img src="/images/logo_black.svg" alt="Plant Site Logo">
        </a>
    </div>


    <div class="password-confirmation-container">
        <h1>Confirm Your Password</h1><br>
        
        <form action="/users/confirm-password" method="POST">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-muted">Please enter your password to continue.</small><br><br>
            <button type="submit">Confirm</button>
        </form>
    </div>
</body>
</html>